@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

main-content,
main-content::before,
main-content::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-content {
    margin-right: 4%;
}


nav li {
    display: inline-block;
    margin-right: 20px;
    max-width: 220px;
    min-width: 100px;
    width: 15vw;
}
nav li a {
    color: #333;
}
nav li a:hover {
    background-color: #ddd;
    border-top: 2px solid #333; /* Add top border on hover */
    border-left: 2px solid #333; /* Add left border on hover */
}
nav li a:active {
    background-color: #333; /* Set the background color to white on active */
    color: #f9fbff; /* Set the text color to the background color of main (#333) on active */
    border-top: 2px solid black; /* Add top border with white color on active */
    border-left: 2px solid black; /* Add left border with white color on active */
}
.div-main-buttons {
    display: inline-block;
    height: 8vh;
}
.button {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    background-color: transparent;
    color: #333;
    font-family: "Orbitron", sans-serif;
    padding: 10px 15px;
    border: none; /* Remove the border for all states of the buttons */
    text-align: left;
    transition: background-color 0.3s, transform 0.2s, border-color 0.2s; /* Add border-color transition */
    margin-left: 0;
    font-size: 18px;
    transform: skewX(-20deg); /* Apply skew transformation to make a parallelogram shape */
    max-width: 200px;
    min-width: 120px;
    width: 15vw;
    vertical-align: middle;
}
.button:hover {
    background-color: #ddd;
    border-top: 2px solid #333; /* Add top border on hover */
    border-left: 2px solid #333; /* Add left border on hover */
    transform: scale(1.1) skewX(-20deg); /* Scale and skew on hover */
    cursor: pointer;
}
.button:active {
    background-color: #333; /* Set the background color to white on active */
    color: #f9fbff; /* Set the text color to the background color of main (#333) on active */
    border-top: 2px solid black; /* Add top border with white color on active */
    border-left: 2px solid black; /* Add left border with white color on active */
    transform: scale(1.1) skewX(-20deg); /* Scale and skew on active */
}

main {
    background-color: #f9fbff;
}

.list-info {
    color: #333;
    font-size: 1.2rem;
    font-family: "Orbitron", sans-serif;
}

/*Rating-list*/

.table-content {
    font-family: "Exo", sans-serif;
    margin-bottom: 80px;
}
.table-content table {
    overflow: auto;
    max-height: 50vh;
}
.table-content thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.rating-list-div, .match-list-div {
    display: inline-block;
    background-color: transparent;
    margin-right: 4rem;
    vertical-align: top;
}

.list-table {
    color: #4f546c;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;

    border-collapse: collapse;
    box-shadow: 0 5px 10px #20212230;
    background-color: white;
    text-align: center;
    overflow: hidden;

    max-width: 80vw;
    overflow-x: auto;
    white-space: nowrap;
}

.list-table thead {
    box-shadow: 0 5px 10px #20212220;
    background: white;
}
.list-table th {
    padding: 1rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}
.list-table tr:nth-child(even) {
    background-color: #f4f6fb;
}
.list-table td {
    padding: 0.2rem 1rem;
    max-width: 220px;
}

.rating-list-name {
    text-align: left;
}

.position {
    font-weight: 900;
    font-family: "Orbitron", sans-serif;
    font-size: 1rem;
}

.club-logo {
    max-height: 32px;
    vertical-align: middle;
    max-width: calc(3 * 32px);
}

.rating-list-rating {
    text-align: right;
}

.robustness {
    background-color: blue;
    padding: 0.2rem 1rem;
    border-radius: 0.2rem;
    margin: 0;
    text-align: center;
}
.robustness-high {
    background-color: #c8e6c9;
    color: #388e3c;
}
.robustness-low {
    background-color: #ffcdd2;
    color: #c62828;
}
.robustness-medium {
    background-color: #fff0c2;
    color: #a68b00;
}


/*Match-list*/

.match-list-div {
    margin-right: 0;
}

.score-div {
    display: inline-block;
    font-family: "Orbitron", sans-serif;
    font-size: 1.5rem;
    margin: 0.1rem;
    padding: 0.1rem 0.2rem;
    border: solid;
    border-color: #4f546c;
    border-radius: 0.2rem;
    border-width: 1px;
    background-color: #f4f6fb50;
    text-align: center;
    
    /*background-color: #ffffff83;*/
    min-width: 2rem;
    max-width: 2rem;
    max-height: 2.2rem;

    vertical-align: middle;
}
.match-info {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(0.3rem);
}

.match-button {
    height: 1.5rem;
    width: 100%;
    padding: 0rem 0.2rem;
    border: solid;
    border-width: 1px;
    border-color: #4f546c;
    border-radius: 0.2rem;
    background: none;
    color: inherit;
    text-align: center;
    vertical-align: middle;
    margin: 0.1rem;
    transition: background-color 0.2s, border-color 0.2s;
    font-family: inherit;
}
.match-button:hover {
    cursor: pointer;
    box-shadow: 0 3px 5px #00000040;
    background-color: #00000018;
}
.match-button:active {
    background-color: #000000b0;
    color: white;
}

.expand {
    background-color: transparent;
    background-image: url(../images/arrow-down-darkblue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    border: none;
    border-radius: 0.4rem;
    min-height: 1.5rem;
    min-width: 2rem;
    text-align: center;
    display: block;
    margin: 0 0.2rem;
    transition: box-shadow 0.2s, background-color 0.2s;
}
.expand:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #00000060;
}
.expand:active {
    background-color: #00000020;
    box-shadow: 0 0 10px #00000080;
}
.expand-finished {
    background-image: url(../images/arrow-down-white.png);
}
.expand-finished:hover {
    box-shadow: 0 0 10px #ffffff40;
}
.expand-finished:active {
    box-shadow: 0 0 10px #ffffff60;
    background-color: #ffffff10;
}
.expand.active {
    transform: rotate(180deg);
}

.score {
    position: sticky;
    transform: translate(0, -1.7rem);
}
.score-button {
    position: sticky;
    /*border: none;*/
    border: 1px solid #4f546ce0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-weight: 900;
    background-color: #FF9800;
    color: white;
    font-size: 14px;
}
.score-button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #00000040;
}
.score-button:active {
    background-color: #ec8e01;
    box-shadow: 0 0 10px #00000060;
}
.score-button-plus-left {
    /*transform: translate(-1.25rem, -0.7rem);*/
    transform: translate(-1.25rem, -1.1rem);
}
.score-button-minus-left {
    transform: translate(-1.25rem, -2.6rem);
}
.score-button-plus-right {
    transform: translate(1.25rem, -1.1rem);
}
.score-button-minus-right {
    transform: translate(1.25rem, -2.6rem);
}
.plus-sign, .minus-sign, .sign {
    position: absolute;
    transform: translate(-4.5px, -9px);
}

.delete {
    display: block;
}

.club-logo-match {
    max-height: 24px;
    margin: 0 10px;
    max-width: calc(3 * 24px);
}

.match-live {
    background-color: #467ef7;
    color: white;
}
.list-table .match-live:nth-child(even) {
    background-color: #4074e8;
}
.match-finished {
    color: white;
    background-color: rgba(14,38,102,0.94);
}
.list-table .match-finished:nth-child(even) {
    background-color: #172266;
}

.match-list-info {
    display: none;
}
.match-list-info.active {
    display: table-row;
}

.winner {
    color: #FF9800;
}
.tie {
    color: #ffc875;
}
.rating-win, .rating-loss {
    padding: 0.2rem 0.4rem;
    padding-bottom: 0.1rem;
    border-radius: 0.2rem;
    margin: 0 0.4rem;
    font-size: 0.8rem;
    vertical-align: text-top;
    text-align: center;
    min-width: 50px;
}
.rating-win {
    background-color: #c8e6c9;
    color: #388e3c;
}
.rating-loss {
    background-color: #ffcdd2;
    color: #c62828;
}



/* Popup */

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
}
.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #000;
    background: #fff;
    width: 450px;
    height: 450px;
    max-width: 80vw;
    max-height: 80vh;
    z-index: 3;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.popup.active .overlay {
    display: block;
}
.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

/*
To do list
    chatGPT: local dev server - slik at import av js filer fungerer riktig...
    pop up window for knapper på hc-rating
    litt front-end js for hc-rating
*/