/* home.css */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');



body {
    font-family: "Orbitron", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #1c1c1c;
    color: #fff;
    position: relative; /* Add position relative to the body to properly position the gradient lines */
}

p {
    font-family: "Exo", sans-serif;
    /* Other styles for the <p> element */
}

header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative; /* Add position relative to the header to properly position the gradient line */
    z-index: 1;
}

/* Horizontal gradient line below the header */
header::after {
    content: "";
    position: absolute;
    bottom: 0px; /* Set to -2px to position just below the header */
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #333, white, #333);
    z-index: 1;
}

nav {
    background-color: transparent;
    text-align: left;
    padding: 10px;
    margin-left: 10%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 5px 0;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border: none; /* Remove the border for all states of the buttons */
    width: 300px;
    max-width: 60vw;
    text-align: left;
    transition: background-color 0.3s, transform 0.2s, border-color 0.2s; /* Add border-color transition */
    margin-left: 0;
    font-size: 1.2rem;
    transform: skewX(-20deg); /* Apply skew transformation to make a parallelogram shape */
}
.home-content nav li {
    position: absolute;
}
.home-content nav li a {
    position: relative;
    z-index: 1;
    max-width: 75vw;
    width: clamp(300px, calc(13*(0.5rem + 0.8*(0.5vw + 2vh))), 75vw);
    font-size: calc(0.5rem + 0.8*(0.5vw + 2vh));
}

nav li a:hover {
    background-color: #555;
    border-top: 2px solid #fff; /* Add top border on hover */
    border-left: 2px solid #fff; /* Add left border on hover */
    transform: scale(1.15) skewX(-20deg); /* Scale and skew on hover */
}

nav li a:active {
    background-color: #fff; /* Set the background color to white on active */
    color: #333; /* Set the text color to the background color of main (#333) on active */
    border-top: 2px solid #fff; /* Add top border with white color on active */
    border-left: 2px solid #fff; /* Add left border with white color on active */
    transform: scale(1.1) skewX(-20deg); /* Scale and skew on active */
}

main {
    flex: 1;
    padding: 20px;
    background-color: #333;
}



footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative; /* Add position relative to the footer to properly position the gradient line */
}

/* Horizontal gradient line above the footer */
footer::before {
    content: "";
    position: absolute;
    top: -2px; /* Set to -2px to position just above the footer */
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #333, white, #333);
}

.home-content {
    padding: 20px;
    display: inline-block;
    width: clamp(100px, 20%, 300px);
    vertical-align: top;
    margin-left: 10%;
    overflow: visible;
}

.home-main {
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/*Variables for zoom:*/
:root {
    --zoom-in-duration: 500ms;
    --zoom-out-duration: 1s;
    /*--background-image-w: calc(1024px * 1.1);
    --background-image-h: calc(728px * 1.1);*/
    --background-image-h: calc(100vh - 40px - 3.34em - 20px - 20px);
    --background-image-w: calc(var(--background-image-h)*(1024/728));
    /*--background-image-w: 52vw;
    --background-image-h: calc(--background-image-w * 728/1024);*/
    /*--background-image-h: calc(52vw * 728/1024);
    --background-image-w: calc(var(--background-image-h)*(1024/728));*/
    --zoom-factor: 1.5;
    --background-zoom-w: calc(var(--background-image-w) * var(--zoom-factor));
    --background-zoom-h: calc(var(--background-image-h) * var(--zoom-factor));
}


.home-background {
    flex: 1;
    padding: 0;
    background-image: url(../images/home-background.jpg);
    /*filter: blur(8px);*/
    background-repeat: no-repeat;
    background-position: left;
    /*background-size: var(--background-image-w) var(--background-image-h);*/
    background-size: cover;
    position: relative;
    overflow: hidden;
    /*transition: background-size 0.5s; /* Add a transition to smooth out background-size changes */
    transition: all 0.5s ease-in-out;
    /*animation: myZoom 5s infinite;*/
}

/*Original zoom effects*/
/*
.zoom-effect-0 {
    animation: myZoomIn0 var(--zoom-in-duration) forwards;
}
.zoom-effect-1 {
    animation: myZoomIn1 var(--zoom-in-duration) forwards;
}
.zoom-effect-2 {
    animation: myZoomIn2 var(--zoom-in-duration) forwards;
}
.zoom-effect-3 {
    animation: myZoomIn3 var(--zoom-in-duration) forwards;
}
.zoom-effect-4 {
    animation: myZoomIn4 var(--zoom-in-duration) forwards;
}
.zoom-effect-5 {
    animation: myZoomIn5 var(--zoom-in-duration) forwards;
}
.zoom-out-0 {
    animation: myZoomOut0 var(--zoom-out-duration) forwards;
}
.zoom-out-1 {
    animation: myZoomOut1 var(--zoom-out-duration) forwards;
}
.zoom-out-2 {
    animation: myZoomOut2 var(--zoom-out-duration) forwards;
}
.zoom-out-3 {
    animation: myZoomOut3 var(--zoom-out-duration) forwards;
}
.zoom-out-4 {
    animation: myZoomOut4 var(--zoom-out-duration) forwards;
}
.zoom-out-5 {
    animation: myZoomOut5 var(--zoom-out-duration) forwards;
}
*/

/*New (correct!) zoom effects*/
.zoom-effect-0 {
    /*background-size: var(--background-zoom-w) var(--background-zoom-h);
    background-position-y: calc(0 * 15%);*/
    background-size: cover;
    transform: scale(1.5) translateY(calc(10% - 0*5%));
}
.zoom-effect-1 {
    /*background-size: var(--background-zoom-w) var(--background-zoom-h);
    background-position-y: calc(0 * 15%);*/
    background-size: cover;
    transform: scale(1.5) translateY(calc(10% - 1*5%));
}
.zoom-effect-2 {
    /*background-size: var(--background-zoom-w) var(--background-zoom-h);
    background-position-y: calc(0 * 15%);*/
    background-size: cover;
    transform: scale(1.5) translateY(calc(10% - 2*5%));
}
.zoom-effect-3 {
    /*background-size: var(--background-zoom-w) var(--background-zoom-h);
    background-position-y: calc(0 * 15%);*/
    background-size: cover;
    transform: scale(1.5) translateY(calc(10% - 3*5%));
}
.zoom-effect-4 {
    /*background-size: var(--background-zoom-w) var(--background-zoom-h);
    background-position-y: calc(0 * 15%);*/
    background-size: cover;
    transform: scale(1.5) translateY(calc(10% - 4*5%));
}
.zoom-effect-5 {
    /*background-size: var(--background-zoom-w) var(--background-zoom-h);
    background-position-y: calc(0 * 15%);*/
    background-size: cover;
    transform: scale(1.5) translateY(calc(10% - 5*5%));
}
.zoom-out {
    background-size: cover;
    background-position: left;
}


/*  
@keyframes zoomAnimation {
    from {
      background-size: cover; /* Starting background size 
    }
    to {
      background-size: 130%; /* Ending background size for zoom 
    }
}*/

/*Obsolete now:*/
/*
@keyframes myZoomIn0 {
    to {
        background-size: var(--background-zoom-w) var(--background-zoom-h);
        background-position-y: calc(0 * 15%);
    }
}
@keyframes myZoomIn1 {
    to {
        background-size: var(--background-zoom-w) var(--background-zoom-h);
        background-position-y: calc(1 * 15%);
    }
}
@keyframes myZoomIn2 {
    to {
        background-size: var(--background-zoom-w) var(--background-zoom-h);
        background-position-y: calc(2 * 15%);
    }
}
@keyframes myZoomIn3 {
    to {
        background-size: var(--background-zoom-w) var(--background-zoom-h);
        background-position-y: calc(3 * 15%);
    }
}
@keyframes myZoomIn4 {
    to {
        background-size: var(--background-zoom-w) var(--background-zoom-h);
        background-position-y: calc(4 * 15%);
    }
}
@keyframes myZoomIn5 {
    to {
        background-size: var(--background-zoom-w) var(--background-zoom-h);
        background-position-y: calc(5 * 15%);
    }
}
@keyframes myZoomOut0 {
    from {
        background-size: var(--background-zoom-w) var(--background-zoom-h);
        background-position-y: calc(0 * 15%);
    }
    to {
        background-size: var(--background-image-w) var(--background-image-h);
        background-position: top left;
    }
}
@keyframes myZoomOut1 {
    from {
        background-size: var(--background-zoom-w) var(--background-zoom-h);
        background-position-y: calc(1 * 15%);
    }
    to {
        background-size: var(--background-image-w) var(--background-image-h);
        background-position: top left;
    }
}
@keyframes myZoomOut2 {
    from {
        background-size: var(--background-zoom-w) var(--background-zoom-h);
        background-position-y: calc(2 * 15%);
    }
    to {
        background-size: var(--background-image-w) var(--background-image-h);
        background-position: top left;
    }
}
@keyframes myZoomOut3 {
    from {
        background-size: var(--background-zoom-w) var(--background-zoom-h);
        background-position-y: calc(3 * 15%);
    }
    to {
        background-size: var(--background-image-w) var(--background-image-h);
        background-position: top left;
    }
}
@keyframes myZoomOut4 {
    from {
        background-size: var(--background-zoom-w) var(--background-zoom-h);
        background-position-y: calc(4 * 15%);
    }
    to {
        background-size: var(--background-image-w) var(--background-image-h);
        background-position: top left;
    }
}
@keyframes myZoomOut5 {
    from {
        background-size: var(--background-zoom-w) var(--background-zoom-h);
        background-position-y: calc(5 * 15%);
    }
    to {
        background-size: var(--background-image-w) var(--background-image-h);
        background-position: top left;
    }
}
*/

/*
.home-background::before {
    content: '';
    position: absolute;
    top: -20%;
    left: -20%;
    right: -20%;
    bottom: -20%;
    background-image: inherit;
    background-size: 120% 120%;
    background-position: left;
    z-index: 0;
}
*/
/*
.zoom-effect {
    background-size: 130%;
}
*/


/* Updated style for the gradient overlay above the background image */
.home-background::after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #333, #333333f8, #333333f0, #333333e0, #333333c8, #333333a0);
    z-index: 0; /* Adjust the z-index to bring the overlay above the background image */
}

.banner-container {
    width: 100vw;
    overflow: hidden;
    background-color: #33333300;
    border: none;
    padding: 2rem;
    box-sizing: border-box;
    position: absolute;
    bottom: calc(22px + 16 / 22*(0.5rem + 0.8*(5vh)));
    z-index: 1;
}
.banner {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 15s linear infinite;
    font-size: calc(0.75*(0.5rem + 0.8*(0.5vw + 2vh)));
}
@keyframes scroll {
    0% {
        transform: translateX(105vw);
    }
    100% {
        transform: translateX(-105%);
    }
}