.main-content {
    margin-left: 10%;
    margin-right: 7%;
}

.info-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    margin-top: calc(40px + 0.83rem + 2*0.5rem);
    margin-right: clamp(20px, 10%, 120px);
    width: 280px;
    max-width: 70vw;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: inline-block;
}

.menu-item {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    color: #222;
    transition: color 0.2s background-color 0.2s;
}

.menu-item:hover {
    color: white;
    background-color: #555;
}

.menu-item:active {
    background-color: #444;
}

/* Add style for the active menu item */
.menu-item.active {
    background-color: #ad3737;
    font-weight: bold;
    color: white;
}

.image-container {
    /*margin-left: 10%;*/ /* Adjust as needed */
    padding: 0;
    padding-top: 40px;
    display: inline-block;
    width: fit-content;
    min-width: 300px;
    max-width: 90%;
    /*width: clamp(300px, 50vw, 1000px);*/
    position: relative;
    vertical-align: top;
    overflow: hidden;
    /*max-height: 370px;*/
}

#image-display {
    max-width: 100%;
    height: auto;
    display: none;
    max-height: 420px;
    /*transform: translateY(0); /* Vertically align the image at 50% of its height */
}

.hyperlink {
    color: #aeb9ec;
}

.eq-list {
    font-family: 'Exo', sans-serif;
}
.eq-list li {
    /*margin: 0 0 6px 0;*/
    min-height: 20px;
    padding-bottom: 6px;
}

.robustness {
    background-color: blue;
    padding: 0.2rem 1rem;
    border-radius: 0.2rem;
    margin: 0;
    text-align: center;
    width: 3.5rem;
    border: none;
}
.robustness-high {
    background-color: #c8e6c9;
    color: #388e3c;
}
.robustness-low {
    background-color: #ffcdd2;
    color: #c62828;
}
.robustness-medium {
    background-color: #fff0c2;
    color: #a68b00;
}

.list-table {
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin: 0.5rem 1rem;

    border-collapse: collapse;
    box-shadow: 0 5px 10px #55555580;
    background-color: #555;
    text-align: center;
    overflow: auto;

    width: fit-content;
    max-width: calc(100vw - 20px - 10vw - 7vw - 2rem );
    white-space: nowrap;
}
.list-table td.diag {background-color: #666;}
.list-table td {
    padding: 1.1rem 0.9rem;
    max-width: 220px;
    border: solid 1px #333;
    position: relative;
}

.list-table .sup{
    display: block;
    position: relative;
    width: 50%;
    float: left;
    padding-top: 25%;
    line-height: 100%;
    text-align: center;
    z-index: 1;
} 
.list-table .inf{
    display: block;
    position: relative;
    width: 50%;
    float: left;
    padding-bottom: 25%;
    line-height: 100%;
    text-align: center;
    z-index: 1;
}
.list-table td.diag:after{
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.1);
    background-size: cover;
    clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
}
.list-table td.param{background-color: #666;}
.list-table td p{
    margin: 0;
}
.info-hc-table{
    display: inline-block;
    vertical-align: top;
}
.table-h{
    margin: 0.5rem 1rem;
    max-width: fit-content;
}

.math-subscript{
    font-size: x-small;
}

.graph-blue{
    color: #4cc5d7;
}
.graph-orange{
    color: rgb(255, 163, 44);
}